
<br><h3> Create new message!</h3>
<form action="/post/new" method="POST">
 <input type="text" name="name" placeholder="put the name">
  <input type="text" name="location" placeholder="where the person is?">
  <input type="text" name="crime" placeholder="what crime?">
  <input type="text" name="bounty" placeholder="reward_price">
  <input type="text" name="pic_url" placeholder="put pic_url">
  <input type="text" name="tagline" placeholder="put their tagline">

  <input type="submit" value="Submit!">
</form>