
<div id=signtop>
 <form action='/signup' method='POST'>
  <input type="text" name="name" placeholder="name please">
  <input type="password" name="password" placeholder="password please">
  <input type="password" name="password_confirmation" placeholder="Confirm Your Password">
  <input type="submit">
 </form>
</div>